
<div class="container">
  <h1>{{title}}</h1>
  <p>Last updated: </p>
  <div class="card">
    <div class="card-header">
      EPC
    </div>
    <ul class="list-group">
      <li class="list-group-item">HSS</li>
      <li class="list-group-item">MMS</li>
      <li class="list-group-item">SPGW</li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      Billing
    </div>
    <ul class="list-group">
      <li class="list-group-item">cURL<span style="float:right"></span></li>
    </ul> 
  </div>
  <div class="card">
    <div class="card-header">
      Webgui
    </div>
    <ul class="list-group">
      <li class="list-group-item">cURL<span style="float:right">
        {{#if webgui-curl}}
          /
        {{else}}
          X
        {{/if}}
      </span></li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      Chat
    </div>
    <ul class="list-group">
      <li class="list-group-item">cURL<span style="float:right">
        {{#if chat-curl}}
          /
        {{else}}
          X
        {{/if}}
      </span></li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      Wiki
    </div>
    <ul class="list-group">
      <li class="list-group-item">cURL<span style="float:right">
        {{#if wiki-curl}}
          /
        {{else}}
          X
        {{/if}}
      </span></li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      Maps
    </div>
    <ul class="list-group">
      <li class="list-group-item">Maps cURL<span style="float:right">
        {{#if maps-curl}}
          /
        {{else}}
          X
        {{/if}}
      </span></li>
      li class="list-group-item">Tile Server cURL<span style="float:right">
        {{#if omt-curl}}
          /
        {{else}}
          X
        {{/if}}
      </span></li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      Media
    </div>
    <ul class="list-group">
      <li class="list-group-item">cURL<span style="float:right">
        {{#if media-curl}}
          /
        {{else}}
          X
        {{/if}}
      </span></li>
    </ul>
</div>
