{{#* inline "network"}}
    <div class="row">
        <div class="form-group col-12">
            <label for="recipient">{{translate "Network Name"}}</label>
            <input type="text" id="network-name" class="form-control" name="network-name" value="{{networkName}}"></input>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="wan-interface">{{translate "WAN Interface"}}</label>
            <input type="text" id="wan-interface" class="form-control" name="wan-interface" value="{{wanInterface}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="enb-interface">{{translate "eNB Interface"}}</label>
            <input type="text" id="enb-interface" class="form-control" name="enb-interface" value="{{enbInterface}}">
        </div>
        <div class="form-group col-6">
            <label for="enb-interface-address">{{translate "eNB Interface Address"}}</label>
            <input type="text" id="enb-interface-address" class="form-control" name="enb-interface-address" value="{{enbInterfaceAddress}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="lte-subnet">{{translate "LTE Subnet"}}</label>
            <input type="text" id="lte-subnet" class="form-control" name="lte-subnet" value="{{lteSubnet}}">
        </div>
    </div>
{{/inline}}

{{#* inline "epc"}}
    <div class="row">
        <div class="form-group col-6">
            <label for="max-enb">{{translate "Max eNBs"}}</label>
            <input type="number" id="max-enb" class="form-control" name="max-enb" value="{{maxEnb}}"></input>
        </div>
        <div class="form-group col-6">
            <label for="max-ue">{{translate "Max UEs"}}</label>
            <input type="number" id="max-ue" class="form-control" name="max-ue" value="{{maxUe}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="plmn">{{translate "PLMN"}}</label>
            <input type="text" id="plmn" placeholder="MCC-MNC" class="form-control" name="plmn" value="{{plmn}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="max-ul">{{translate "Max UL Bandwith"}}</label>
            <input type="number" id="max-ul" class="form-control" name="max-ul" placeholder="bits/second" value="{{maxUl}}"></input>
        </div>
        <div class="form-group col-6">
            <label for="max-dl">{{translate "Max DL Bandwith"}}</label>
            <input type="number" id="max-dl" class="form-control" name="max-dl" placeholder="bits/second" value="{{maxDl}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12" style="margin-left:15px">
            {{#ifTrue localDns}}
                <input type="checkbox" id="dns" class="form-check-input" name="dns" value="1" checked>
            {{else}}
                <input type="checkbox" id="dns" class="form-check-input" name="dns" value="1">
            {{/ifTrue}}
            <label for="dns" class="form-check-label">{{translate "Enable local DNS?"}}</label>
        </div>
    </div>
    {{#ifTrue localDns}}
        <div class="row invisible" id="extra-fields">
            <div class="form-group col-6">
                <label for="dns-address">{{translate "DNS Address"}}</label>
                <input type="text" id="dns-address" class="form-control" name="dns-address" value="{{dns}}">
            </div>
            <div class="form-group col-6">
                <label for="dnssec-address">{{translate "DNSSEC Address"}}</label>
                <input type="text" id="dnssec-address" class="form-control" name="dnssec-address" value="{{dnssec}}">
            </div>
        </div>
    {{else}}
        <div class="row" id="extra-fields">
            <div class="form-group col-6">
                <label for="dns-address">{{translate "DNS Address"}}</label>
                <input type="text" id="dns-address" class="form-control" name="dns-address" value="{{dns}}">
            </div>
            <div class="form-group col-6">
                <label for="dnssec-address">{{translate "DNSSEC Address"}}</label>
                <input type="text" id="dnssec-address" class="form-control" name="dnssec-address" value="{{dnssec}}">
            </div>
        </div>
    {{/ifTrue}}
{{/inline}}

{{#* inline "runningServices"}}
    <div class="row" style="margin-left:15px">
        <div class="form-group col-3">
            {{#ifTrue epc}}
                <input type="checkbox" id="epc" class="form-check-input" name="epc" checked value="1"> 
            {{else}}
                <input type="checkbox" id="epc" class="form-check-input" name="epc" value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="epc">{{translate "EPC"}}</label>
        </div>
        <div class="form-group col-3">
            {{#ifTrue haulage}}
                <input type="checkbox" id="haulage" class="form-check-input" name="haulage" checked value="1">
            {{else}}
                <input type="checkbox" id="haulage" class="form-check-input" name="haulage" value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="haulage">{{translate "Haulage"}}</label>
        </div>
        <div class="form-group col-3">
            {{#ifTrue webGui}}
                <input type="checkbox" id="web-gui" class="form-check-input" name="web-gui" checked value="1">
            {{else}}
                <input type="checkbox" id="web-gui" class="form-check-input" name="web-gui" value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="web-gui">{{translate "WebGUI"}}</label>
        </div>
        <div class="form-group col-3">
            {{#ifTrue webServices}}
                <input type="checkbox" id="web-services" class="form-check-input" name="web-services" checked value="1">
            {{else}}
                <input type="checkbox" id="web-services" class="form-check-input" name="web-services"  value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="web-services">{{translate "WebServices"}}</label>
        </div>
    </div>
{{/inline}}

{{#* inline "webServices"}}
    {{#ifTrue localDns}}
    {{else}}
        <script>
            alert("Local DNS is disabled. Please enable it to update web services settings.");
            window.location.replace("/settings/epc");
        </script>
    {{/ifTrue}}
    <div class="row" style="margin-left:15px">
        <div class="form-group col-4">
            {{#ifTrue mediaServer}}
                <input type="checkbox" id="media-server" class="form-check-input" name="media-server" checked value="1">
            {{else}}
                 <input type="checkbox" id="media-server" class="form-check-input" name="media-server" value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="media-server">{{translate "Media Server"}}</label>
        </div>
        <div class="form-group col-4">
            {{#ifTrue mappingServer}}
                <input type="checkbox" id="mapping-server" class="form-check-input" name="mapping-server" checked value="1">
            {{else}}
                <input type="checkbox" id="mapping-server" class="form-check-input" name="mapping-server" value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="mapping-server">{{translate "Mapping Server"}}</label>
        </div>
        <div class="form-group col-4">
            {{#ifTrue chatServer}}
                <input type="checkbox" id="chat-server" class="form-check-input" name="chat-server" checked value="1">
            {{else}}
                <input type="checkbox" id="chat-server" class="form-check-input" name="chat-server" value="1">            
            {{/ifTrue}}
            <label class="form-check-label"  for="chat-server">{{translate "Chat Server"}}</label>
        </div>
    </div>
    <div class="row" style="margin-left:15px">
        <div class="form-group col-3">
            {{#ifTrue wikipedia}}
                <input type="checkbox" id="wiki" class="form-check-input" name="wiki" checked value="1">
            {{else}}
                <input type="checkbox" id="wiki" class="form-check-input" name="wiki" value="1">
            {{/ifTrue}}
            <label class="form-check-label"  for="wiki">{{translate "Wikipedia"}}</label>
        </div>
    </div>
{{/inline}}

<link rel='stylesheet' href='/stylesheets/settings.css' />
<main role="main" class="container">
    <div class="container">
        <div class="row" style="padding:1.5em;">
            <div class="card mb-3 col-9" style="padding:0">
                <div class="card-header">
                    {{translate subtitle}}
                </div>
                <div class="card-body">
                    <form method="post" action="/settings/{{route}}"> 
                        <div class="container">
                            {{#if network}}
                                {{> network}}
                            {{else if runningServices}}
                                {{> runningServices}}
                            {{else if epc}}
                                {{> epc}}
                            {{else if webServices}}
                                {{> webServices}}
                            {{/if}}
                        </div>
                          <ul class="list-group list-group-flush" style="margin-top:5px">
                            <li class="list-group-item">
                                <div class="btn btn-primary" id="validate-btn">{{translate "Submit"}}</div>
                                <button type="submit" id="submit" class="btn btn-primary invisible" aria-hidden="true">{{translate "Submit"}}</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav flex-column">
                            <li class="nav-item {{network}}">
                                <a class="nav-link" href="/settings/network">Network</a>
                            </li>
                            <li class="nav-item {{epc}}">
                                <a class="nav-link" href="/settings/epc">EPC</a>
                            </li>
                            <li class="nav-item {{runningServices}}">
                                <a class="nav-link" href="/settings/running-services">Running Services</a>
                            </li>
                            <li class="nav-item {{webServices}}">
                                <a class="nav-link" href="/settings/web-services">Web Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/settings.js"></script>