<link rel='stylesheet' href='/stylesheets/admin.css' />
<main role="main" class="container">

  <div class="card mb-3">
    <div class="card-header">
      {{translate "Lookup User By IMSI"}}
    </div>
    <div class="card-body">
      <form method="post" action="/users/details">
        <div class="form-group">
          <input id="imsi" name="imsi"></input>
          <button type="submit" class="btn btn-primary">{{translate "Lookup User"}}</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card mb-3">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>IMSI</th>
            <th>Username</th>
            <th>Phone Number</th>
            <th>Total Downloaded</th>
            <th>Total Uploaded</th>
            <th>Data Balance</th>
            <th>Money Balance</th>
            <th>Internet Access</th>
            <th>CoLTE Access</th>
          </tr>
        </thead>
        <tbody>
          {{#each customers_list}}
            <tr>
            <form method="post" action="/users/update/{{this.imsi}}">
              <td>{{this.imsi}}</td>
              <td 
                class="editable" 
                id="{{this.imsi}}-username" 
                data-toggle="popover" 
                title="Edit username" 
                data-content="<input type='text' id='{{this.imsi}}-new-username' value='{{this.username}}'> </input> <button class='btn btn-danger row-submit' type='submit' onclick='usernameSubmit(&quot;{{this.imsi}}&quot;)'> OK </button>" data-html="true">
                
                {{username}} 
                <input aria-hidden='true' class="invisible" name="username" id="{{this.imsi}}-username-input"></input>
              </td>
              <td>{{this.msisdn}}</td>
              <td>{{this.raw_down}}</td>
              <td>{{this.raw_up}}</td>
              <td 
                class="editable" 
                id="{{this.imsi}}-data-balance" 
                data-toggle="popover" 
                title="Edit data balance" 
                data-content="<input type='text' value='{{this.data_balance}}' id='{{this.imsi}}-new-data-balance'> </input> <button class='btn btn-danger row-submit' type='submit' onclick='dataBalanceSubmit(&quot;{{this.imsi}}&quot;)'> OK </button>" data-html="true">
                
                {{../convert_bytes this.data_balance}}
                <input aria-hidden='true' value="{{this.data_balance}}" class="invisible" name="data_balance" id="{{this.imsi}}-data-balance-input"></input>
              </td>
              <td 
                class="editable" 
                id="{{this.imsi}}-balance" 
                data-toggle="popover" 
                title="Edit balance" 
                data-content="<input type='text' value='{{this.balance}}' id='{{this.imsi}}-new-balance'> </input> <button class='btn btn-danger row-submit' type='submit' onclick='balanceSubmit(&quot;{{this.imsi}}&quot;)'> OK </button>" data-html="true">
                
                {{../print_number this.balance}}
                <input aria-hidden='true' value="{{this.balance}}" class="invisible" name="balance" id="{{this.imsi}}-balance-input"></input>
              </td>
              <td class="center">
                {{#if this.bridged}}
                  <input name="bridged" id="{{this.imsi}}-bridged-input" type="checkbox" checked onchange='checkboxSubmit(&quot;{{this.imsi}}&quot;)'>
                {{else}}
                  <input name="bridged" id="{{this.imsi}}-bridged-input" type="checkbox" onchange='checkboxSubmit(&quot;{{this.imsi}}&quot;)'>
                {{/if}}
              </td>
              <td class="center">
                {{#if this.enabled}}
                  <input name="enabled" id="{{this.imsi}}-enabled-input" type="checkbox" checked onchange='checkboxSubmit(&quot;{{this.imsi}}&quot;)'>
                {{else}}
                  <input name="enabled" id="{{this.imsi}}-enabled-input" type="checkbox" onchange='checkboxSubmit(&quot;{{this.imsi}}&quot;)'>
                {{/if}}
              </td>
              <td aria-hidden='true' class="invisible"><button aria-hidden='true' class="btn btn-primary invisible" type="submit" id="{{this.imsi}}-submit"></button></td>
            </form>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {{#if has_previous}}
            <li class="page-item"><a class="page-link" href="1">1</a></li>
          {{/if}}

          {{#each page_list}}
            {{#ifequal ../current_page this}}
              <li class="page-item active"><p class="page-link">{{ this }}<span class="sr-only">(current)</span></p></li>
            {{else}}
              <li class="page-item"><a class="page-link" href="{{ this }}">{{ this }}</a></li>
            {{/ifequal}}
          {{/each}}

          {{#if has_next}}
            <li class="page-item"><a class="page-link" href="{{ last_page }}">{{ last_page }}</a></li>
          {{/if}}
      </ul>
    </nav>
  </div>
</main>
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/admin.js"></script>