<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/jquery-3.3.1.min.js"></script>

    <title>{{title}}</title>
  </head>
  <body>
<!--
      	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Community Cellular Network</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="status">Account<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user">Transfer<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="purchase">Purchase<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="media">Media<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
-->
   
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #4b2e83">
      <a class="navbar-brand" href="#" style="font-family: impact; font-size: 200%;">ungu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <ul class="nav nav-tabs">
	    <li class="nav-item"><a style="font-size:12px" class="nav-link" href="/status">{{translate "Account"}}</a></li>
	    <li class="nav-item"><a style="font-size:12px" class="nav-link" href="/transfer">{{translate "Transfer"}}</a></li>
	    <li class="nav-item"><a style="font-size:12px" class="nav-link" href="/purchase">{{translate "Purchase"}}</a></li>
<!--       {{#if admin }}
      <li class="nav-item"><a style="font-size:12px" class="nav-link" href="/admin">{{translate "Admin"}}</a></li> -->
      {{/if}}
	    <li class="nav-item"><a style="font-size:12px" class="nav-link" href="/services">{{translate "Free Services"}}</a></li>
    </ul>
    {{{body}}}
  </body>

<!-- SMS: this jQuery changes the active element of the tab -->
<script>
$(document).ready(function() {
  // get current URL path and assign 'active' class
  var pathname = window.location.pathname;
  $('.nav > li > a[href="' + pathname + '"]').addClass('active');
})
</script>
</html>
