<main role="main" class="container">
    <div class="card mb-3">
      <div class="card-header">
        {{translate "Account"}}
      </div>
      <div class="card-body">
        <p>{{translate "Current Balance: $"}}{{balance}}</p>
        <p>{{translate "Data Balance: "}}{{data_balance_str}}</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        {{translate "Purchase"}}
      </div>
      <div class="card-body">
        <form action="/purchase/purchase" method="post">
          <p><button name="package" value="0" type="submit" class="btn btn-primary btn-sm" style="width: 80px">10 MB</button> Rp2.560</p>
          <p><button name="package" value="1" type="submit" class="btn btn-primary btn-sm"  style="width: 80px">100 MB</button> Rp25.600</p>
          <p><button name="package" value="2" type="submit" class="btn btn-primary btn-sm" style="width: 80px">1 GB</button> Rp262.144</p>
        </form>
      </div>
    </div>
</main>
