<main role="main" class="container">

  <div class="card mb-3">
    <div class="card-header">
      {{translate "Account Information"}}
    </div>
    <div class="card-body">
      <p>{{translate "Phone Number"}}: {{msisdn}}</p>
      <p>{{translate "Current Balance: $"}}{{balance}}</p>
      <p>{{translate "Data Balance: "}}{{data_balance_str}}</p>
      <p>{{translate "Total Downloaded: "}}{{raw_down_str}}</p>
      <p>{{translate "Total Uploaded: "}}{{raw_up_str}}</p>
    </div>
  </div>

  <!--        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Data</p>

    <div class="card mb-3">
      <div class="card-header">
        More Information
      </div>
      <div class="card-body">
      </div>
    </div> -->

</main>