<main role="main" class="container">
  <div class="card mb-3">
    <div class="card-header">
      Add New Phone
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>

      <button type="button" class="btn btn-dark">Submit</button>
    </div>
  </div>
  <div class="card mb-3">
    <table class="table">
      <thead>
        <tr>
          <th>IMSI</th>
          <th>MSISDN</th>
          <th>IP Address</th>
          <th>Upload</th>
          <th>Download</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {{#each customers_list}}
          <tr>
            <td>{{this.imsi}}</td>
            <td>{{this.msisdn}}</td>
            <td>{{this.ip}}</td>
            <td>{{this.raw_up}}</td>
            <td>{{this.raw_down}}</td>
            <td>{{this.balance}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>